<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Enseignant</h4>
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputUsername1">Code</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Code">
                </div>
                <div class="form-group">
                  <label for="exampleInputUsername1">Nom Complet </label>
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nom Complet">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Grade</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Grade">
                </div >
                <button type="button" class="btn btn-info btn-fw color-light ">Enregistrer</button>
                <button type="button" class="btn btn-dark btn-fw">Annuler</button>
              </form>
            </div>
          </div>
    </div>
    <div class="col-md-8">
        <div>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Liste des filières</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Code</th>
                        <th>Nom Complet</th>
                        <th>Grade</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>019</td>
                        <td>Loick</td>
                        <td>Etudiant</td>
                        <td class="">
                            <button type="button" class="btn btn-primary btn-rounded btn-icon color-light">
                                <i class="ti-pencil color-white"></i>
                            </button>
                            <button _ngcontent-ng-c136520934="" type="button" class="btn btn-danger btn-rounded btn-icon">
                                <i _ngcontent-ng-c136520934="" class="ti-trash color-white"></i>
                            </button> 
                        </td>
                      </tr>
                     
                     
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
